/* ARCHIVO MAIN CSS (Estructura y Layout CORREGIDO)  */

/* Importa la hoja de estilos 'base.css' que contiene las variables de color y tipografía */
@import "./base.css";

/* ESTILOS PARA EL CONTENEDOR PRINCIPAL DE LA APLICACION */
#app {
    font-weight: normal; 
    /* El resto de estilos de layout son manejados por App.vue */
}

/* ESTILOS PARA HIPERVINCULOS GENERALES */
a {
    text-decoration: none; 
    color: var(--vt-c-white); 
}

/* RESPONSIVE DESIGN  */

@media (max-width: 768px) {
    #app {
        padding: 0; 
        font-size: small;
        width: 100%;
        max-width: none;
    }
}