/* ============================================== */
/* === ARCHIVO MAIN CSS (Estructura y Layout) === */
/* ============================================== */

/* Importa la hoja de estilos 'base.css' que contiene las variables de color y tipografía */
@import './base.css'; 

/* ESTILOS PARA EL CONTENEDOR PRINCIPAL DE LA APLICACION */
#app {
  max-width: 1280px; /* Limita el ancho máximo del contenedor para mejor legibilidad en pantallas grandes */
  margin: 0 auto;    /* Centra el contenedor horizontalmente en la página */
  padding: 2rem;     /* Añade un espacio de 2rem (aprox. 32px) alrededor del contenido */
  font-weight: normal; /* Asegura un peso de fuente regular */
}

/* ESTILOS PARA HIPERVINCULOS GENERALES */
a {
  text-decoration: none;        /* Elimina el subrayado por defecto de los enlaces */
  color: var(--vt-c-white);     /* Color de los enlaces usando la variable 'white' (Lila Pálido Suave) */
}


/* RESPONSIVE DESIGN  */

/* Media Query para pantallas pequeñas/tabletas (hasta 768px de ancho) */
@media (max-width: 768px) {
  #app {
    display: flex;          /* Convierte el contenedor en un contenedor flexible */
    flex-direction: column; /* Apila los elementos hijos en una columna vertical */
    font-size: small;       /* Reduce el tamaño de la fuente base para mejor ajuste */
  }
}

/* Media Query para pantallas de escritorio (desde 1024px de ancho) */
@media (min-width: 1024px) {
  #app {
    display: flex;          /* Mantiene el contenedor como un flexbox */
    flex-direction: column; /* Apila los elementos hijos en una columna vertical */
    width: 80%;             /* Establece el ancho del contenedor al 80% de la pantalla */
  }
}

/* Media Query para pantallas de laptops (Rango: 1024px a 1439px de ancho) */
@media (min-width: 1024px) and (max-width: 1439px){
  #app {
    display: flex;          /* Mantiene el contenedor como un flexbox */
    flex-direction: column; /* Apila los elementos hijos en una columna vertical */
    width: 90%;             /* Ajusta el ancho al 90% para este rango, optimizando el espacio. */
  }
}